﻿body {
    padding-top:20px;
}

.navbar-inverse{
    background-color: #3367d6;
    border-color:  #1abc9c;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
    background-color: #16a085;
}