﻿@using System.Web.Script.Serialization;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Atlantic Forecast - Desktop</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/simple-sidebar.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
 
    <script type="text/javascript" charset="utf-8">
			$(document).ready(function() {
			    $('#example').DataTable({ "bLengthChange": false });
			} );
    </script>


    <link href="~/Content/style_desktop.css" rel="stylesheet" />
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #map {
            height: 100%;
        }
    </style>
</head>

<body>
    
        <nav class="navbar navbar-inverse navbar-fixed-bottom">
            <div class="container">

                <div class="flat-slider" id="flat-slider"></div>

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand pull-left" href="#">Atlantic Forecasters</a>
                </div>
            </div>
        </nav>
        <div id="map-canvas"></div>
    
        <div class="container-fluid" id="map">
            <div class="row">
                <div class="col-md-5">
                    <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Place</th>
                                <th>Age</th>
                                <th>Birth date</th>
                                <th>Evac Priority</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Name</th>
                                <th>Place</th>
                                <th>Age</th>
                                <th>Birth date</th>
                                <th>Evac Priority</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr>
                                <td>Tiger Nixon</td>
                                <td>Brooklyn</td>
                                <td>61</td>
                                <td>2011/04/25</td>
                                <th>Low</th>
                            </tr>
                            <tr>
                                <td>Garrett Winters</td>
                        
                                <td>Brooklyn</td>
                                <td>63</td>
                                <td>2011/07/25</td>
                                <th>Low</th>
                            </tr>
                            <tr>
                                <td>Ashton Cox</td>
             
                                <td>Jamaica</td>
                                <td>66</td>
                                <td>2009/01/12</td>
                                <th>Low</th>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
              </div>
            <div class="row">
                <div class="col-md-7">
                    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBN5_bq3fSghRU1ZRc6zVLluwD9oEnSYI0&callback=initMap&libraries=geometry"
                            async defer></script>
                </div>
            </div>
        </div>
 
        <script>@{
            JavaScriptSerializer js = new JavaScriptSerializer();
            js.MaxJsonLength = 50000000;
        }

            var townNames = @Html.Raw(js.Serialize(ViewData["townNames"]));
            var riskFactor = @Html.Raw(js.Serialize(ViewData["riskFactor"]));
            var windFactor = @Html.Raw(js.Serialize(ViewData["windFactor"]));
            var rainFactor = @Html.Raw(js.Serialize(ViewData["rainFactor"]));
    </script>
        

        <script src="~/Scripts/map_desktop.js"></script>
        <script src="~/Scripts/jquery-1.9.1.min.js"></script>
 
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/r/bs-3.3.5/jq-2.1.4,dt-1.10.8/datatables.min.css" />
        <script type="text/javascript" src="https://cdn.datatables.net/r/bs-3.3.5/jqc-1.11.3,dt-1.10.8/datatables.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>

</body>
</html>

